<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Loja Online{% endblock %}</title>
    <link rel="stylesheet" href="static/style.css">
    <!-- Adicionar o CSS do Bootstrap no <head> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Adicionar o JS do Bootstrap antes de </body> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
    <header>
        <h1>Quitutes da Ana </h1>
        <nav>
            <a href="/">Home</a>
            <a href="/cart">Carrinho</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© Loja da Ana para mais informações ligue (31) 99170-8075</p>
    </footer>
</body>
</html>
